* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: #22d3ee;
}
.container {
  width: 800px;
  margin: 0 auto;
  border: 1px solid #ccc;
  margin-top: 60px;
  border-radius: 10px;
  box-shadow: 0 0 2px 1px #ccc;
  position: relative;
  background-color: #fff;
}
.container::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
  z-index: -1;
  background-color: #22d3ee;
  transform: rotate(175deg);
  box-shadow: 0 0 2px 2px #ccc;
  border-radius: 10px;
}
.overall {
  display: flex;
}
.overall-left {
  display: grid;
  grid-template-columns: 20px 250px 120px;
}
.overall-left a {
  color: #0ea5e9;
}
.overall img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 50%;
  margin-left: 150px;
  transition: all 0.5s;
}
.overall img:hover {
  transform: scale(1.5);
}
.left-top {
  display: flex;
  grid-area: 1/1/1/4;
}
.left-top span {
  padding-top: 10px;
  padding-left: 4px;
  font-weight: bold;
}
.iconfont {
  padding-top: 3px;
}
.main {
  padding: 50px 40px;
}
.overall2 {
  height: 250px;
  margin-top: 40px;
}
.overall2 h3 {
  margin-bottom: 8px;
}
.overall2-sin,
.overall3-sin {
  width: 700px;
  height: 150px;
  border-top: 1px solid #ccc;
  padding-top: 5px;
  position: relative;
  padding: 30px 20px;
}
.overall2-sin::before {
  content: "";
  position: absolute;
  left: 0px;
  top: 12px;
  width: 2px;
  height: 150px;
  background-color: #22d3ee;
}

.sing1 {
  margin: 15px 0;
  color: #888;
  position: relative;
}
.sing1::after {
  content: "";
  width: 20px;
  position: absolute;
  left: -29px;
  top: 0px;
  height: 20px;
  z-index: 5;
  border-radius: 50%;
  background-color: #0ea5e9;
}
.sing1 span {
  color: #000;
}
.sing2 {
  margin: 30px 0;
  color: #888;
  position: relative;
}
.sing2 span {
  color: #000;
}
.sing2::before {
  content: "";
  width: 20px;
  position: absolute;
  left: -29px;
  top: 0px;
  height: 20px;
  z-index: 5;
  border-radius: 50%;
  background-color: #0ea5e9;
}
.overall3 {
  height: 300px;
  position: relative;
}
.overall3-sin::after {
  content: "";
  position: absolute;
  left: 0px;
  top: 12px;
  width: 2px;
  height: 250px;
  background-color: #22d3ee;
}
.sing-text {
  color: #888;
  font-size: 12px;
}
.overall4 {
  margin-top: 10px;
}
.overall4-sing {
  display: grid;
  padding-top: 20px;
  margin-top: 10px;
  grid-template-columns: repeat(3, 1fr);
  border-top: 1px solid #ccc;
  row-gap: 20px;
}
.overall4-text:hover {
  transform: rotate(360deg);
}

.overall4-text {
  text-align: center;
  transition: all 0.5s;
  display: inline-block;
  width: 130px;
  height: 130px;
  line-height: 130px;
  border-radius: 50%;
  background-color: #f0fdff;
  position: relative;
}
.overall4-text::after {
  content: "";
  width: 130px;
  height: 130px;
  position: absolute;
  left: -6px;
  top: -6px;
  border-radius: 50%;
  border: 5px solid #c3f1f8;
  transform: rotate(45deg);
}
.overall4-text.texts1::after {
  border-color: #0ea5e9;
}
.overall4-text.texts2::after {
  border-top-color: #0ea5e9;
  border-right-color: #0ea5e9;
}
.overall4-text.texts3::after {
  border-top-color: #0ea5e9;
  border-right-color: #0ea5e9;
  border-left-color: #0ea5e9;
}
.overall4-text.texts4::after {
  border-top-color: #0ea5e9;
}
.overall4-text.texts5::after {
  border-top-color: #0ea5e9;
  border-right-color: #0ea5e9;
}
.overall4-text.texts6::after {
  border-top-color: #0ea5e9;
  border-right-color: #0ea5e9;
}
.overall5 {
  margin-top: 20px;
}
.overall5-sing {
  padding-top: 20px;
  display: grid;
  grid-template-columns: 100px 500px;
  row-gap: 10px;
  border-top: 1px solid #ccc;
}
.overall5-text {
  font-weight: bold;
  grid-area: 1/1/1/3;
}
.overall5-sing .overall5-sing-text span {
  font-weight: bold;
}
.overall6-sing {
  height: 100px;
  border-top: 1px solid #ccc;
  padding-top: 20px;
}
